@use "variables" as v;

nav{
    background-color: v.$pink;
    height: 90px;
    width: 100vw;
    color: white;

    ul{
        list-style: none;
        height: inherit;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    li{
        padding-bottom: 5px;

        &:hover{
            background-color: v.$dark-pink;
            padding: 5px;
            border-radius: 10px;
        }
    }
}